header {
  height: 130vh;
  padding-top:11rem;
  overflow: hidden;
  
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* =============== CTA ============== */
.cta {
  margin-top: 5.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* =============== HEADER SOCIALS ============== */
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 2.5rem;
  bottom: 19rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* =============== ME ============== */
.me {
  padding-top: 1rem;
  /* background: linear-gradient(var(--color-primary), transparent); */
  height: 70%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 40%;
  overflow: hidden;
  width: 80%;
  max-width: 30rem;
  margin-top: 2.5rem;
  justify-content: center;

  /* padding: 5rem 1.5rem 1.5rem 1.5rem; */
}

/* =============== SCROLL DOWN ============== */
.scroll__down {
  position: absolute;
  right: -1.5rem;
  bottom: 25rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 1023px) {
  header {
    height: 100vh;
    padding-top: 4rem;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }

}
